[Unit]
Description=iEdon DN42 PeerAPI
After=network.target

[Service]
Type=simple
User=YOUR_USER
WorkingDirectory=/opt/iedon/peerapi/
ExecStart=bun run /opt/iedon/peerapi/app.js
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target